{% extends "gestion/index.html" %}


{% block titulo %}
<title>Acerca de mi</title>                               
{% endblock titulo %}


{% block contenido %}   
<h3>Mi nombre es León Mateo Cáceres. </h3>

<p>Tengo 20 años. Estudio programación desde los 15 años debido a que 
entré a una escuela secundaria técnica, aprendiendo programación con los lenguajes C, C++, C# (mi favorito hasta
que llegó Python) y tuve una base bastante sólida en Desarrollo Web, aprendiendo HTML, CSS, Javascript, MySQL y PHP.
Sin embargo, en mi último año de secundaria tuve que desarrollar un proyecto.</p>


<p>Como me gusta complicarme las cosas, decidí hacer algo que nadie había hecho y desarrollé una app con Android Studio,
usando XML y Kotlin, y para la Base de datos utilicé Firebase, una herramienta creada por Google en el 2016.
Cuando terminé el secundario empecé a trabajar como ayudante de laboratorio en una hormigonera, y hasta entonces
sigo sin conseguir trabajo como programador. Me encuentro estudiando en la UNLAM en la carrera de Ingeniería en 
Informática.</p>

<p>La idea de mi proyecto fue por un conocido que necesita una página para su local, y me pareció buena idea desarrollarle
una herramienta que pueda utilizar. </p>

{% endblock contenido %}