{% extends 'gestion/index.html' %}

{% block titulo %}
<title>Ingresar Cómics</title>
{% endblock titulo %}

{% block contenido %}
<div class="form-container">
    <h1>Ingresar Cómics al Sistema</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <div class="form-buttons">
            <button class="btn-agregar" type="submit">Agregar</button>
            <button class="btn-cancelar" type="button" onclick="window.history.back();">Cancelar</button>
        </div>
    </form>
</div>
{% endblock contenido %}
