{% extends 'gestion/index.html' %}

{% block titulo %}
<title>Comics</title>
{% endblock titulo %}

{% block contenido %}
<div class="lista_mangas">
    <h1>Lista de Comics</h1>
    <table>
        <tr>
            <td>
                <button class="btn_agregar_mangas">
                    <a href="{% url 'comicsCreate' %}" class="btn btn-primary btn-sm">
                        <i class="fa fa-plus fa-lg" title="agregar"></i> Agregar
                    </a>
                </button>
            </td>
            <td>
                <form method="get" action="{% url 'comics_search' %}" class="search-form">
                    <input type="text" name="q" placeholder="Buscar por nombre...">
                    <button type="submit"><i class="fa fa-search"></i> Buscar</button>
                </form>
            </td>
        </tr>
    </table>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Editorial</th>
                <th>Autor</th>
                <th>Género</th>
                <th>Cantidad de hojas</th>
                <th>Cantidad en Stock</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for comic in comics_list %}
            <tr>
                <td>
                    {% if comic.imagen %}
                        <img src="{{ comic.imagen.url }}" alt="{{ comic.nombre }}" style="max-width: 200px;"/>
                    {% else %}
                        <p>No hay imagen disponible</p>
                    {% endif %}
                </td>
                <td>{{ comic.id }}</td>
                <td>{{ comic.nombre }}</td>
                <td>{{ comic.editorial }}</td>
                <td>{{ comic.autor }}</td>
                <td>{{ comic.genero }}</td>
                <td>{{ comic.cantidad_hojas }}</td>
                <td>{{ comic.cantidad_stock }}</td>
                <td>{{ comic.precio }}</td>
                <td>{{ comic.descripcion }}</td>
                <td>
                    <a href="{% url 'comicsUpdate' comic.id %}" class="btn-edit"><i class="fa fa-edit fa-sm" title="Edit Record"></i></a>
                    <a href="{% url 'comicsDelete' comic.id %}" class="btn-delete"><i class="fa fa-trash fa-sm" title="Delete Record"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenido %}
