* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    padding: 20px;
}

.container {
    max-width: 800px;
    max-height: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-container p {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.form-container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-container input, .form-container select, .form-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.btn_agregar_mangas {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

.btn_agregar_mangas a {
    color: #fff;
    text-decoration: none;
}

.btn-agregar-link {
    color: #fff;
    text-decoration: none;
    display: block;
}

.btn-agregar-link i {
    margin-right: 5px;
}

.btn_agregar_mangas:hover {
    background-color: #555;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.styled-table th,
.styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.styled-table th {
    background-color: #f2f2f2;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.navegacion {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.navegacion .menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion .menu ul h1 {
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    align-items: center;
}

.navegacion .menu ul .listas {
    margin-left: 10px;
}

.navegacion .menu ul .listas a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.navegacion .menu ul .listas a:hover {
    background-color: #555;
    border-radius: 4px;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-top:50px;
    height:100px;
    margin-bottom: 150px;
    position: absolute;
}

.footer p {
    margin-bottom: 10px;
}

.footer .redes-sociales {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer .redes-sociales li {
    display: inline-block;
}

.footer .redes-sociales li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}


.btn-agregar {
    background-color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

.btn-agregar:hover {
    background-color: #45a049;
}

.btn-agregar a {
    color: #fff;
    text-decoration: none;
}

.btn-agregar i {
    margin-right: 5px;
}

.btn-logout {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.btn-logout i {
    margin-right: 5px;
}

.btn-logout:hover {
    background-color: #555;
}

.profile-pic {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover; 
    vertical-align: middle; 
    margin-right: 10px; 
}


.profile-pic {
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    object-fit: cover; 
}


.profile-container {
    display: flex;
    align-items: center;
    padding: 0 10px; 
}

/* Estilo para la galería de productos */
.galeria-productos {
    padding: 20px;
}

.galeria-productos h2 {
    text-align: center;
    margin-bottom: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    width: 23%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.producto h3 {
    font-size: 18px;
    margin: 10px 0;
}

.producto p {
    font-size: 16px;
    color: #333;
}

/* Estilo para la barra de búsqueda */
.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.search-form button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-form button i {
    font-size: 16px;
}


.profile-container {
    display: flex;
    align-items: center;
    padding: 0 10px; 
}

.profile-pic {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; /* Para hacer la imagen circular */
    object-fit: cover; /* Para que la imagen se recorte correctamente si no es cuadrada */
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


body.sidebar-open {
    margin-left: 250px;
}

.container-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px; /* Ajuste para evitar choque con el footer */
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

.profile-form {
    width: 100%;
    max-width: 500px;
}

.btn-update-profile {
    display: block;
    margin: 0 auto;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-update-profile:hover {
    background-color: #45a049; 
}

.profile-info-username,
.profile-info-firstname,
.profile-info-lastname {
    margin-bottom: 10px; 
}

.dtl-info-profile {
    width: 500px;
    height: 200px;
    margin-top: 100px;
    margin-left: 85px;
    text-align: center;
}

.div-form-profile {
    width: 500px;
    height: 100px;
    margin-top: 0%;
    margin-left: 85px;
    text-align: center;
    margin-bottom: 50px;
}

.styled-table .btn-edit {
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    text-decoration: none; /* acá eliminamos el color violeta al hacer click */
    display: inline-block;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.styled-table .btn-edit:hover {
    background-color: #333;
    border-color: #333;
}

.styled-table .btn-delete {
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    text-decoration: none; /* Remove underline from links */
    display: inline-block;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.styled-table .btn-delete:hover {
    background-color: #333;
    border-color: #333;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background: #f0f0f0; /* Cambia el fondo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-form {
    width: 100%;
    max-width: 400px;
}

.login-form p {
    margin-bottom: 15px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: #333;
    outline: none;
}

.login-form .btn-login {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form .btn-login:hover {
    background-color: #2b2b2b;
}


.signup-container {
    background-color: #f2f2f2; 
    padding: 30px;           
    margin: 50px auto;        
    width: 400px;            
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;      
    text-align: center;       
}


.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form select {
    width: calc(100% - 20px); 
    padding: 10px;            
    margin-bottom: 20px;     
    border: 1px solid #ccc;  
    border-radius: 5px;       
    font-size: 16px;          
}


.btn_registrarse {
    background-color: #4CAF50; 
    color: white;              
    padding: 10px 20px;        
    border: none;              
    border-radius: 5px;       
    font-size: 16px;           
    cursor: pointer;          
    width: 100%;              
}

.btn_registrarse i {
    margin-right: 5px;         
}


.btn_registrarse:hover {
    background-color: #45a049; 
}

/* Media query para pantallas más pequeñas */
@media (max-width: 500px) {
    .signup-container {
        width: 90%;            /* Ancho del 90% */
    }

    .signup-form input[type="text"],
    .signup-form input[type="email"],
    .signup-form input[type="password"],
    .signup-form select {
        width: calc(100% - 20px); /* Ajustar el ancho para pantallas pequeñas */
    }
}

/* Estilos para el contenedor del formulario */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título del formulario */
.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Estilo para los campos del formulario */
.form-group {
    margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para los botones */
.form-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-agregar,
.btn-cancelar {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-agregar {
    background-color: #4CAF50;
    color: white;
}

.btn-agregar:hover {
    background-color: #45a049;
}

.btn-cancelar {
    background-color: #f44336;
    color: white;
}

.btn-cancelar:hover {
    background-color: #e53935;
}
